// COLORS
// --------------------

$cp1: #008AB7;
$cp2: #005D7F;
$cp3: #8CCEF1;

$cb1: #FFF;
$cb2: #000;

$cg1: #CCC;
$cg2: #707070;
$cg3: #DDD;
$cg4: #f3f3f3;
$cg5: #888;

$cok: #8FDC8F;
$cerror: #EF5454;
