@use '../base/global' as *;

.v-gk-share {
    display: none;
    position: absolute;
    top: -500px;
    left: 0;
    width: 100%;
    padding: 12px 20px;
    background: $cp1;
    border-radius: 0 0 8px 8px;    

    .v-gk-share__h {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        > span {
            font: 16px/1 $basr;
            text-transform: uppercase;
            color: $cb1;
        }

        .v-gk-btn--x {
            position: absolute;
            top: 4px;
            right: 10px;
            width: 36px;
            height: 36px;
            padding: 0;
            background: transparent;
    
            span {
                svg {
                    path {
                        stroke: $cb1;
                    }
                }
            }
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li:not(:last-child) {
            padding-bottom: 5px;
            border-bottom: 1px solid $cb1;
        }

        li {
            &:first-child {
                a {
                    .v-gk-icn {
                        svg {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
            }

            a {
                display: flex;
                align-items: center;
                gap: 10px;
                width: 100%;
                transition: opacity .3s;

                &:hover {
                    opacity: .7;
                }
    
                .v-gk-icn {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $cb1;
                    border-radius: 100%;
    
                    + span {
                        font: 14px/1 $basr;
                        color: $cb1;
                    }
                }
            }
        }
    }
}