@use '../base/global' as *;

.v-gk-modal#gameResult {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.25);

    &::backdrop {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
    }

    .v-gk-modal__inner {
        width: 100%;
        height: 390px;
        max-width: 325px;
        padding: 24px 12px;
        background: $cb1;
    }

    .v-gk-modal__cnt {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin-bottom: 12px;
            font: 22px/25px $bass;
            text-transform: uppercase;
            text-align: center;
            color: $cb2;
        }

        p {
            margin-bottom: 80px;
            font: 16px/19px $basr;
            text-align: center;
        }
    }

    .v-gk-points {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            position: absolute;
            width: auto;
            height: 90px;

            &:first-child {
                left: 4px;
                transform: scaleX(-1);
            }

            &:last-child {
                right: 4px;
            }
        }

        .v-gk-points__result {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -20px;

            .v-gk-points__txt {
                font: 18px/21px $basr;
                text-transform: uppercase;
                text-align: center;
            }

            .v-gk-points__num {
                font: 45px/48px $bass;
                text-transform: uppercase;
                text-align: center;
                color: $cp1;
            }

            .v-gk-points__txt-2 {
                margin-top: -6px;
                font: 14px/17px $basr;
                text-transform: uppercase;
                text-align: center;
                color: $cp1;
            }
        }
    }

    .v-gk-modal__ftr {
        margin-top: 50px;

        .v-gk-btn-grp {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 12px;

            .v-gk-btn {
                width: 230px;
            }
        }
    }    
}